## Imports

In [1]:
import operator
from collections import Counter
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Importing the text as a single string

In [2]:
f = open('quran.txt', 'r')
text = ''.join(f.readlines())

## Converting file into word count

In [3]:
text = text.lower()
for stringy in ["\n",",",".","'",":","?",";","!"]:
    text = text.replace(stringy, "")
words = text.split(" ")
frequency_count = Counter(words)
d = dict(frequency_count)

In [4]:
table = pd.DataFrame(list(d.items()))
table.columns=(["Word","Quran_Count"])
table.sort_values(by="Quran_Count",inplace=True,ascending=False)
table.reset_index(drop=True,inplace=True)
table.head(10)

   Word  Quran_Count
0   the         8725
1   and         7667
2    of         4466
3    to         3641
4   you         3350
5  they         2857
6    is         2813
7   god         2714
8     a         2699
9    in         2449

## Reading average English word frequency

In [5]:
f = open('english_word_count.txt', 'r')
text = f.readlines()
def process_line(line):
    line = line.replace("\n", "")
    return line.split('\t')
frequencies = [process_line(line) for line in text]
frequencies = {x[0]:int(x[1]) for x in frequencies}

## Appending English word count

In [6]:
table['English_word'] = table["Word"].map(frequencies)

In [7]:
table.head(5)

  Word  Quran_Count  English_word
0  the         8725  2.313585e+10
1  and         7667  1.299764e+10
2   of         4466  1.315194e+10
3   to         3641  1.213698e+10
4  you         3350  2.996181e+09

In [8]:
table['Ratio'] = np.divide(table['Quran_Count'],table['English_word'])*(10**6)

## Sorting the table by the ratio

In [9]:
table.sort_values(by="Ratio",inplace=True,ascending=False)
table.reset_index(drop=True,inplace=True)

In [12]:
table[['Word','Ratio']].head(60)

            Word        Ratio
0   chastisement  2275.304741
1      evildoers  1313.312210
2         tiding  1286.806449
3    disbelieves  1177.394035
4          haply  1100.148130
5        gehenna   962.463908
6    unbelievers   923.550874
7          whoso   884.406225
8    recompensed   874.920079
9     unthankful   769.769069
10   similitudes   757.732314
11   disbelieved   715.236525
12        abased   662.663077
13       tarried   616.117637
14     niggardly   595.592615
15    disbelieve   576.763635
16     idolaters   548.079558
17       couldst   536.812983
18    whensoever   499.322348
19        smites   459.010374
20         suras   450.590967
21     wittingly   418.203247
22      wellnigh   413.758861
23     aforetime   404.017084
24   ungodliness   388.570062
25    whomsoever   387.996610
26      chastise   385.696182
27    recompense   374.758323
28      unchaste   367.261280
29     whosoever   353.939394
30      thinkest   343.862062
31    honourably   343.493096
32   prostrating   328.380264
33      heedless   306.915499
34        satans   306.735025
35      caprices   289.899558
36      idolater   287.783587
37        givest   285.510350
38      speakest   284.144724
39        cannot   281.731409
40    similitude   279.131141
41         iblis   273.313655
42     chastises   271.094544
43   crookedness   270.874247
44     outspread   267.297999
45  conjecturing   250.830877
46       succour   240.278217
47     assuredly   239.880060
48         seest   229.639957
49    almsgiving   220.477996
50       privily   219.577533
51    fornicator   217.596286
52        astray   215.751549
53      bedouins   214.961307
54       calumny   209.314495
55       whereon   199.187316
56         wombs   194.863401
57      merciful   191.746413
58        naught   189.752783
59        saidst   187.805183